* {
    box-sizing: border-box;
}


html, body {
    height: 100%;
    margin: 0;
    
    font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
}
textarea {
    font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
}
h1, h2 {
    border-bottom: none !important;
}

.pull-right {
    float: right;
    &::after {
        content: '';
        clear: both;
    }
}

.ui.modal > .header:not(.ui) {
    background-color: #ecf5fe !important;
    color: #333333 !important;
}
.c-add-human-voice-modal {
    width: 400px !important;
}